################################################################################
# Ce fichier .gitignore a été créé automatiquement par Microsoft(R) Visual Studio.
################################################################################

*.suo
*.force
*.cache
Evenement/Evenement.v12.suo
Evenement/Evenement/bin
Evenement/Evenement/bin/*
Evenement/Evenement/obj
Evenement/Evenement/obj/*