################################################################################
# Ce fichier .gitignore a été créé automatiquement par Microsoft(R) Visual Studio.
################################################################################

*.suo
*.force
*.cache
