################################################################################
# Ce fichier .gitignore a été créé automatiquement par Microsoft(R) Visual Studio.
################################################################################

*.suo
*.force
*.cache
Evenement/Service.Evenement.ExpositionAPI/*.suo
Evenement/Service.Evenement.ExpositionAPI/bin
Evenement/Service.Evenement.ExpositionAPI/bin/*
Evenement/Service.Evenement.ExpositionAPI/obj
Evenement/Service.Evenement.ExpositionAPI/obj/*

Evenement/Service.Evenement.Front.Tests/*.suo
Evenement/Service.Evenement.Front.Tests/bin
Evenement/Service.Evenement.Front.Tests/bin/*
Evenement/Service.Evenement.Front.Tests/obj
Evenement/Service.Evenement.Front.Tests/obj/*

Evenement/Service.Evenement.Dal/*.suo
Evenement/Service.Evenement.Dal/bin
Evenement/Service.Evenement.Dal/bin/*
Evenement/Service.Evenement.Dal/obj
Evenement/Service.Evenement.Dal/obj/*

Evenement/Service.Evenement.Business/*.suo
Evenement/Service.Evenement.Business/bin
Evenement/Service.Evenement.Business/bin/*
Evenement/Service.Evenement.Business/obj
Evenement/Service.Evenement.Business/obj/*

