<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageAccount"
         value="youpevenement​"/>
    <add key="StoragePassword"
         value="ot6QL8nEZxzOBfkJU25dfSglFZzrXA3Jq1fbp2JrAmbLdDm1+0mtHTm/sW/n+r9b2f+pG5PApPegA54sipa6lg=="/>
    <add key="UriHost"
         value="https://youpevenement.blob.core.windows.net/"/>
    <add key="LoggerUri" value="http://loggerasp.azurewebsites.net/"/>
  </appSettings>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=youpevenement;AccountKey=ot6QL8nEZxzOBfkJU25dfSglFZzrXA3Jq1fbp2JrAmbLdDm1+0mtHTm/sW/n+r9b2f+pG5PApPegA54sipa6lg==" />
  </connectionStrings>
</configuration>